{% extends "base.html" %}

{% block title %}Slett avdeling{% endblock %}

{% block content %}

<div class="container my-4">

    <a href="{% url 'regnskap:avdelinger' %}"
       class="btn btn-outline-secondary btn-sm mb-3">
        ← Tilbake til avdelinger
    </a>

    <h1>🗑 Slett avdeling</h1>

    <div class="alert alert-danger">

        Er du sikker på at du vil slette:

        <br><br>

        <strong>
            {{ avdeling.avdelingsnummer }}
            {{ avdeling.navn }}
        </strong>

    </div>

    <form method="post">

        {% csrf_token %}

        <button type="submit"
                class="btn btn-danger">
            Ja, slett
        </button>

        <a href="{% url 'regnskap:avdelinger' %}"
           class="btn btn-secondary">
            Avbryt
        </a>

    </form>

</div>

{% endblock %}

