{% extends "base.html" %}

{% block title %}Avdelinger{% endblock %}

{% block content %}

<div class="container my-4">

    <a href="{% url 'regnskap:faste_data' %}"
       class="btn btn-outline-secondary btn-sm mb-3">
        ← Tilbake til faste data
    </a>

    <h1>🏢 Avdelinger</h1>

    <p class="lead">
        {{ organisasjon.organisasjon }}
    </p>

    <div class="mb-3">
        <a href="{% url 'regnskap:avdeling_ny' %}"
           class="btn btn-primary">
            ➕ Ny avdeling
        </a>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Nr</th>
                <th>Navn</th>
                <th>Aktiv</th>
            </tr>
        </thead>

        <tbody>

        {% for a in avdelinger %}
            <tr>
            <td>
                <a href="{% url 'regnskap:avdeling_endre' a.id %}">
                    {{ a.avdelingsnummer }}
                </a>
            </td>                
                <td>{{ a.navn }}</td>
                <td>
                    {% if a.aktiv %}
                        Ja
                    {% else %}
                        Nei
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">
                    Ingen avdelinger registrert.
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
